---
apiVersion: v1
kind: LimitRange
metadata:
  name: minio-pod-limits
  namespace: {{ TENANT_NAMESPACE }}
spec:
  limits:
  - default:
      memory: 4Gi
      cpu: 2
    defaultRequest:
      memory: 256Mi
      cpu: 0.5
    type: Container