# 创建一个configmap，配置nginx日志的轮转策略，对应的是nginx日志在容器内的日志文件
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-nginx-logrotate
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
{% if ingress_nginx_logrotate_configmap_options %}
data:
  nginx.log: |
    {{ ingress_nginx_configmap['access-log-path'] }} {
{% for arg in ingress_nginx_logrotate_configmap_options %}
      {{ arg }}
{% endfor %}
    }
    {{ ingress_nginx_configmap['error-log-path'] }} {
{% for arg in ingress_nginx_logrotate_configmap_options %}
      {{ arg }}
{% endfor %}
    }
{%- endif %}


{% if ingress_nginx_logrotate_configmap_env %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-nginx-logrotate-env
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
data:
  {{ ingress_nginx_logrotate_configmap_env | to_nice_yaml | indent(2) }}
{%- endif %}